<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>WasteTime analyzer</title>
  <link rel="stylesheet" type="text/css" href="third/w3/w3.css">
  <link rel="stylesheet" type="text/css" href="third/loading.css">
  <link rel="stylesheet" type="text/css" href="node_modules/@fortawesome/fontawesome-free/css/all.css">
  <style>
    hr {
      margin: 4px 0;
    }
    .w3-panel {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  </style>
</head>
<body>
  <input id="fileDirInput" type="file" style="display: none" webkitdirectory/>
  <!-- All of the Node.js APIs are available in this renderer process. -->
  <div id="app" class="w3-container">
    <div style="display:flex; justify-content: space-between">
      <div>
          <button class="w3-btn w3-black" title="Open directory" v-on:click="openRepo"><i class="fas fa-folder-open"></i></button>
          <button class="w3-btn w3-black" title="Menu" v-on:click="openBarsMenu"><i class="fas fa-bars"></i></button>
          WasteTime
      </div>
      <div>
        <button class="w3-btn w3-black" title="Show debug info" v-on:click="toggleDebugInfo"><i class="fas fa-bug"></i></button>
      </div>
    </div>
    <div v-if="debugInfoVisible" class="w3-panel w3-border">
      <ul>
        <li>Node: {{nodeVersion}}</li>
        <li>Chrome: {{chromeVersion}}</li>
        <li>Electron: {{electronVersion}}</li>
      </ul>
    </div>
    <hr style="margin-top: 0"/>
    <div v-if="loading" style="text-align: center">
      <div class="lds-dual-ring"></div>
    </div>
    <div v-if="stats">
      <div v-if="viewIndex == viewIndexRaws">
        <raw-reports-viewer :stats="stats"/>
      </div>
      <div v-if="viewIndex == viewIndexTops">
        <top-list-viewer :stats="stats"/>
      </div>
    </div>
  </div>
  <script>
    // You can also require other files to run in this process
    require('./dist/renderer.js')
  </script>
</body>

</html>