<div style="padding-top: 2px; padding-bottom: 2px">
    {{week.subject}}
    •
    {{durationToText(week.totalDuration)}}
    <span style="white-space: nowrap; display: inline-block">
        <toggle-button v-on:toggled="toggleProjectsPanel($event)"/>
        projects: {{week.projects.length}}
    </span>
    
    <span style="white-space: nowrap; display: inline-block">
        <toggle-button v-on:toggled="toggleLanguagesPanel($event)"/>
        languages: {{week.languages.length}}
    </span>

    <div v-if="projectsPanelVisible">
            <div class="w3-panel w3-leftbar">Projects</div>
            <ul>
            <li v-for="project in week.projects">
                {{project.title}} = {{ durationToText(project.time) }}
            </li>
        </ul>
    </div>

    <div v-if="languagesPanelVisible" style="white-space: nowrap">
        <div class="w3-panel w3-leftbar">Languages</div>
        <ul>
            <li v-for="language in week.languages">
                {{language.title}} = {{ durationToText(language.time) }}
            </li>
        </ul>
    </div>
</div>